default: &default
  adapter: <%= ENV.fetch('DATABASE_ADAPTER', 'postgresql') %>
  encoding: utf8
  support_json: <%= ENV.fetch('DATABASE_SUPPORT_JSON', 'true') %>
  <% if ENV.key?('DATABASE_COLLATION') %>
  collation: <%= ENV.fetch('DATABASE_COLLATION', 'C') %>
  <% end %>
  pool: <%= ENV.fetch('DATABASE_POOL', ENV.fetch("RAILS_MAX_THREADS", 8).to_i * ENV.fetch("WEB_CONCURRENCY", 1).to_i) %>
  <% if ENV.key?('DATABASE_HOST') %>
  host: <%= ENV.fetch('DATABASE_HOST', '127.0.0.1') %>
  <% end %>
  port: <%= ENV.fetch('DATABASE_PORT', 5432) %>
  <% if ENV.key?('DATABASE_USER') %>
  username: <%= ENV.fetch('DATABASE_USER', `whoami`.chomp) %>
  <% end %>
  <% if ENV.key?('DATABASE_PASS') %>
  password: <%= ENV['DATABASE_PASS'] %>
  <% end %>

peatio: &peatio
  <<: *default
  migrations_paths: db/peatio_migrate
barong: &barong
  <<: *default

bitzlato_default: &bitzlato_default
  adapter: postgresql
  encoding: utf8
  schema_search_path: p2p,public
  <% if ENV.key?('DATABASE_COLLATION') %>
  collation: <%= ENV.fetch('DATABASE_COLLATION', 'C') %>
  <% end %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS", 8).to_i * ENV.fetch("WEB_CONCURRENCY", 1).to_i %>
  <% if ENV.key?('DATABASE_HOST') %>
  host: <%= ENV.fetch('DATABASE_HOST', '127.0.0.1') %>
  <% end %>
  port: <%= ENV.fetch('DATABASE_PORT', 5432) %>
  <% if ENV.key?('DATABASE_USER') %>
  username: <%= ENV.fetch('DATABASE_USER', `whoami`.chomp) %>
  <% end %>
  <% if ENV.key?('DATABASE_PASS') %>
  password: <%= ENV['DATABASE_PASS'] %>
  <% end %>
  migrations_paths: db/migrate_bitzlato

development:
  primary:
    <<: *default
    database: <%= ENV.fetch('DATABASE_NAME', 'kyc_service_development') %>
  bitzlato:
    <<: *bitzlato_default
    database: bitzlato_development
  peatio:
    <<: *peatio
    database: <%= ENV.fetch('PEATIO_DATABASE_NAME', 'peatio_development') %>
  barong:
    <<: *barong
    database: <%= ENV.fetch('BARONG_DATABASE_NAME', 'barong_development') %>

staging:
  primary:
    <<: *default
    url: <%= ENV.fetch('DATABASE_URL', '') %>
  bitzlato:
    <<: *bitzlato_default
    url: <%= ENV['BITZLATO_DATABASE_URL'] %>
  peatio:
    <<: *peatio
    url:  <%= ENV.fetch('PEATIO_DATABASE_URL', '') %>
  barong:
    <<: *barong
    url: <%= ENV.fetch('BARONG_DATABASE_URL', '') %>


production:
  primary:
    <<: *default
    url: <%= ENV.fetch('DATABASE_URL', '') %>
  bitzlato:
    <<: *bitzlato_default
    url: <%= ENV['BITZLATO_DATABASE_URL'] %>
  peatio:
    <<: *peatio
    url: <%= ENV.fetch('PEATIO_DATABASE_URL', '') %>
  barong:
    <<: *barong
    url: <%= ENV.fetch('BARONG_DATABASE_URL', '') %>

test:
  primary:
    <<: *default
    database: kyc_service_test
  bitzlato:
    <<: *bitzlato_default
  peatio:
    <<: *peatio
    database: peatio_test
  barong:
    <<: *barong
    database: barong_test






